*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.nav{
    display: flex;
    height: 40px;
    width : 100vw;
    background-color: blueviolet;
    padding: 10px;
}

nav li{

    padding-right: 10px;

}

#hovernav:hover{

background-color: rgb(182, 144, 219);
cursor: pointer;
}


.example{

position: relative;
left: 650px;

}

.example1{

    height: 25px;
}

.dum{
position: relative;
border-radius: 70%;
width: 38px;
left: 680px;

}

.dum:hover{
    transform: scale(1.5);
     cursor: pointer;
}

/* .container1{

    height: 20vh;
    background-color: rgb(208, 255, 0);
    width:20vw ;
    
    } */

.container2{

 
display: grid;    
height: 100vh;
background-color: lightgrey;
width:100vw ;

}

#i1{
    position: relative;  
    height: 186px;
    width: 140px;
    background-color: white;
    left: 315px;
    bottom: -8px;
    border-radius: 12%;
}
#i2{
    position: relative;  
    height: 186px;
    width: 140px;
    background-color: white;
    left: 469px;
    bottom: 177px;
    border-radius: 12%;
}
#i3{
    position: relative;  
    height: 186px;
    width: 140px;
    background-color: white;
    left: 623px;
    bottom: 362px;
    border-radius: 12%;
}
#i4{
    position: relative;  
    height: 186px;
    width: 140px;
    background-color: white;
    left: 776px;
    bottom: 547px;
    border-radius: 12%;
}

#i5{
    position: relative;  
    height: 90vh;
    width: 350px;
    background-color: white;
    left: 955px;
    bottom: 733px;
}
#i6{
    position: relative;  
    height: 170px;
    width: 602px;
    background-color: rgb(255, 255, 255);
    bottom: 1080px;
    left: 315px;
}

.container3{

 
    display: grid;    
    height: 100vh;
    background-color: lightgrey;
    width:100vw ;
    
    }

    #i7{
        position: relative;  
        height: 60vh;
        width: 602px;
        background-color: rgb(255, 255, 255);
        bottom: 1032px;
        left: 315px;
    }
    
    #i8{
        position: relative;  
        height: 60vh;
        width: 602px;
        background-color: rgb(255, 255, 255);
        bottom: -242px;
        left: 315px;
    }

    .container4{

 
        display: grid;    
        height: 100vh;
        background-color: lightgrey;
        width:100vw ;
        
        }

    #i9{
        position: relative;  
        height: 60vh;
        width: 602px;
        background-color: rgb(255, 255, 255);
        bottom: -40px;
        left: 315px;
    }
    #i10{
        position: relative;  
        height: 60vh;
        width: 602px;
        background-color: rgb(255, 255, 255);
        bottom: -85px;
        left: 315px;
    }
 
     #side{

        position: relative;
        bottom: 1835px;
        left: 65px;
     }

     .side1{
   
        padding: 18px; 

     }

     .side2{
   
        padding: 18px; 

     }
     .side3{
   
        padding: 18px; 

     }
     .side4{
   
        padding: 18px; 

     }
     .side5{
   
        padding: 18px; 

     }
     .side6{
   
        padding: 18px; 

     }

     .side7{
   
        padding: 18px; 

     }

     .container5{

        height: 70vh;
        background-color: lightgrey;
        width:100vw ;
        
        }
.footer{

    height: 300px;
    width: 100vw;
    background-color: burlywood;
    position: relative;
    bottom: 0px;

}

#grp{

position: relative;
bottom: 1786px;
left: 35px;

}
#grp:hover{
background-color: rgba(183, 152, 255, 0.685);
border-radius: 50%;
}